@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.container{
    /* border: 2px solid black; */
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box{
    /* background-color: #e4ecec; */
    width: 300px;
    height: 550px;
    margin: 4px;
   
}
.box2{
    width: 500px;
}
#vendorName{
    color: gray;
    font-size: 0.8rem;
    padding-top: 0.4rem;

}
#productTitle{
    padding-top: 0.7rem;
    font-size: 1.3rem;
    font-weight: bold;
}
#discountedPrice{
    color: rgb(16, 59, 83);
    font-size: x-large;
    font-weight: bolder;
}
.percentageoff{
    color: red;
    padding-left: 0.5rem;
}
#compare_at_price{
    text-decoration: line-through;
    color: gray;
    
}
.colorSquare {
    width: 50px;
    height: 50px;
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
}
.checkMark {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    display: none;
}
.choose{
    color: gray;
    padding-bottom: 10px;
    
}
.sizeButton {
    width: 90px;
    height: 30px;
    margin: 1px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    border: 1px solid #333;
    border-radius: 8px;
    text-align: center;
    line-height: 30px;
    background-color:rgb(243, 243, 243);
    color: #333;
}
.sizeButton:checked {
    background-color: #2ecc71;
    color: #fff;
}
.quantityButtons {
    display: flex;
    align-items: center;
    margin-top: 10px;
}
.quantityButton {
    width: 40px;
    height: 30px;
    cursor: pointer;
    /* border: 2px solid #333; */
    border-radius: 5px;
    text-align: center;
    line-height: 30px;
    margin-right: 5px;
    
}
.quant{
    width: 100px;
    height: 30px;
    border: 1px solid black;
    display: flex;
    border-radius: 1rem;
}
#quantity{
    line-height: 30px;
}

#addToCartButton {
    width: 40%;
    height: 40px;
    margin: 1rem;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: 1rem;
    text-align: center;
    line-height: 40px;
    background-color: #1a5f8d;
    color: #fff;
}
#addedProductContainer {
    display: none;
    background-color: yellowgreen;
   
   
    border-radius: 5px;
    
}
#descriptionContainer {
    color: gray;
    text-align: justify;
}
#mainImage {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}
.thumbnailImage {
    width: 60px;
    height: 60px;
    margin-right: 5px;
    cursor: pointer;
}
#thumbnailContainer {
    display: flex;
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    /* Styles for tablets */
    #thumbnailContainer {
        overflow-x: hidden; /* Disable horizontal scrolling for tablets */
    }
}

@media only screen and (max-width: 767px) {
    /* Styles for mobile screens */
    #thumbnailContainer {
        overflow-x: hidden; /* Disable horizontal scrolling for mobile screens */
    }
}